<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>Face Landmarks</string>
		<key>modelFileName</key>
		<string>facelandmark</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>facelandmark</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>Face Detection SSDMN V3</string>
		<key>modelFileName</key>
		<string>face_detection_iter_78000</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>face_detection_iter_78000</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>TensorFlow</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>SSD Mobilenet V3</string>
		<key>modelFileName</key>
		<string>ssd_mobilenet_v3_large_coco_2019_08_14</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>ssd_mobilenet_v3_large_coco_2019_08_14</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
    
    <dict>
        <key>whoTrained</key>
        <string>TensorFlow</string>
        <key>modelType</key>
        <string>TensorFlow</string>
        <key>modelName</key>
        <string>Person Detection</string>
        <key>modelFileName</key>
        <string>person_detection_thinkerfarm</string>
        <key>modelProtoTxtName</key>
        <string></string>
        <key>modelLabelsFileName</key>
        <string>person_detection_thinkerfarm</string>
        <key>inputWidth</key>
        <string>300</string>
        <key>inputHeight</key>
        <string>300</string>
        <key>imageBlobScalefactor</key>
        <string></string>
        <key>imageBlobMeanScalar1</key>
        <string></string>
        <key>imageBlobMeanScalar2</key>
        <string></string>
        <key>imageBlobMeanScalar3</key>
        <string></string>
        <key>imageBlobSwapRB</key>
        <false/>
        <key>imageBlobCrop</key>
        <false/>
    </dict>
    
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>Food &amp; Drink</string>
		<key>modelFileName</key>
		<string>food_and_drink</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>food_and_drink</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>Vehicle Registration Plate</string>
		<key>modelFileName</key>
		<string>plate_detector_iter_24000</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>plate_detector_iter_24000</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>TensorFlow</string>
		<key>modelName</key>
		<string>Billboard and Traffic Signs</string>
		<key>modelFileName</key>
		<string>billboard_detector_iter_160000</string>
		<key>modelProtoTxtName</key>
		<string></string>
		<key>modelLabelsFileName</key>
		<string>billboard_detector_iter_160000</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string></string>
		<key>imageBlobMeanScalar1</key>
		<string></string>
		<key>imageBlobMeanScalar2</key>
		<string></string>
		<key>imageBlobMeanScalar3</key>
		<string></string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>ThinkerFarm</string>
		<key>modelType</key>
		<string>Caffe</string>
		<key>modelName</key>
		<string>Face Detection SSDMN V1</string>
		<key>modelFileName</key>
		<string>res10_300x300_ssd_iter_140000</string>
		<key>modelProtoTxtName</key>
		<string>res10_300x300_ssd_iter_140000</string>
		<key>modelLabelsFileName</key>
		<string>res10_300x300_ssd_iter_140000</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string>1.0</string>
		<key>imageBlobMeanScalar1</key>
		<string>104.0</string>
		<key>imageBlobMeanScalar2</key>
		<string>177.0</string>
		<key>imageBlobMeanScalar3</key>
		<string>123.0</string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
	<dict>
		<key>whoTrained</key>
		<string>Caffe</string>
		<key>modelType</key>
		<string>Caffe</string>
		<key>modelName</key>
		<string>SSD Mobilenet V2</string>
		<key>modelFileName</key>
		<string>MobileNetSSD_deploy</string>
		<key>modelProtoTxtName</key>
		<string>MobileNetSSD_deploy</string>
		<key>modelLabelsFileName</key>
		<string>MobileNetSSD_deploy</string>
		<key>inputWidth</key>
		<string>300</string>
		<key>inputHeight</key>
		<string>300</string>
		<key>imageBlobScalefactor</key>
		<string>0.007843</string>
		<key>imageBlobMeanScalar1</key>
		<string>127.5</string>
		<key>imageBlobMeanScalar2</key>
		<string>127.5</string>
		<key>imageBlobMeanScalar3</key>
		<string>127.5</string>
		<key>imageBlobSwapRB</key>
		<false/>
		<key>imageBlobCrop</key>
		<false/>
	</dict>
</array>
</plist>
